<%= form_tag do %>

  <h1>My Profile</h1>

  <div class="field">
    <%= label_tag(:name, "Full Name:") %>
    <%= text_field_tag(:name) %>
  </div>
  <div class="field">
    <%= label_tag(:major, "Major:") %>
    <%= text_field_tag(:major) %>
  </div>
  <div class="field">
    <%= label_tag(:year, "Year of study:") %>
    <%= select_tag(:year, options_for_select([['Freshman', 1], ['Sophomore', 2], ['Junior', 3], ['Senior', 4], ['Graduate', 5]])) %>
  </div>
  <div class="field">
    <%= label_tag(:living_group, "Dorm or living group:") %>
    <%= text_field_tag(:living_group) %>
  </div>

  <h3>Check things that you have the most appreciation for</h3>
  <div class="field">
    <%= check_box_tag(:ck_art) %>
    <%= label_tag(:ck_art, "Art") %>
    <%= check_box_tag(:ck_music) %>
    <%= label_tag(:ck_music, "Music") %>
    <%= check_box_tag(:ck_travel) %>
    <%= label_tag(:ck_travel, "Travel") %>
    <%= check_box_tag(:ck_alone) %>
    <%= label_tag(:ck_alone, "Time alone") %>
  </div>
  <div class="actions">
    <%= submit_tag("Submit") %>
  </div>

  <h3>Reset Your Password</h3>
  <%= link_to "Click here to reset your password", new_password_reset_path %>

<% end %>

