<!DOCTYPE html>
<html>
<head>
  <title>6 Away</title>
  <%= stylesheet_link_tag    "application", "http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css", "http://fonts.googleapis.com/css?family=Bitter:400,700", :media => "all" %>
  <%= javascript_include_tag "application", "http://code.jquery.com/jquery-1.9.0.js", "http://code.jquery.com/ui/1.10.0/jquery-ui.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="bodywrap">

<header>
<h1 id="logo"><%= link_to "6 Away", root_url %></h1>
<div id="nav">
	<% if current_user %>
		<%= link_to "Instructions", "#{root_url}#instructions", :class => "highlight_instructions" %>&nbsp;|&nbsp;
		<%= link_to "My Graph", :graph %>&nbsp;|&nbsp;
		<%= link_to "Edit Profile - #{current_user.email}", :profile %>&nbsp;|&nbsp;
		<%= link_to "Logout", :logout %>
	<% else %>
		<%= link_to "Register", new_user_path %>&nbsp;|&nbsp;
		<%= link_to "Login", :login %>
	<% end %>
</div>
</header>
<div>
	<p id="notice"><%= notice %></p>
	<p id="alert"><%= alert %></p>
</div>
<%= yield %>
</div>
<footer>
</footer>

</body>
</html>
